## Preprocessing

In [150]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [151]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [153]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [154]:


# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [155]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [156]:
# Look at CLASSIFICATION value counts for binning
application_df_count = application_df["CLASSIFICATION"].value_counts()
application_df_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [157]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_count[application_df_count>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [158]:
application_df_count[application_df_count > 1000]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [159]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df_count[application_df_count<1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [160]:

# Convert categorical data to numeric with `pd.get_dummies`
dummies_APPLICATION_TYPE = pd.get_dummies(application_df['APPLICATION_TYPE'])
dummies_CLASSIFICATION = pd.get_dummies(application_df['CLASSIFICATION'])
dummies_AFFILIATION = pd.get_dummies(application_df['AFFILIATION'])
dummies_USE_CASE = pd.get_dummies(application_df['USE_CASE'])
dummies_ORGANIZATION = pd.get_dummies(application_df['ORGANIZATION'])
dummies_INCOME_AMT = pd.get_dummies(application_df['INCOME_AMT'])

concatenated = pd.concat([application_df,dummies_APPLICATION_TYPE, dummies_CLASSIFICATION, dummies_AFFILIATION, dummies_USE_CASE, dummies_ORGANIZATION,dummies_INCOME_AMT], axis="columns")
concatenated

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,0,0,1,0,0,0,0,0,0,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,1,0,0,1,0,0,0,0,0,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,...,0,0,0,0,0,0,1,0,0,0

In [161]:
# drop categorical data
concatenated_df = concatenated.drop(columns=['APPLICATION_TYPE', 'CLASSIFICATION','AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'STATUS'])
concatenated_df

,ASK_AMT,IS_SUCCESSFUL,Other,T10,T19,T3,T4,T5,T6,T7,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [162]:

concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ASK_AMT           34299 non-null  int64
 1   IS_SUCCESSFUL     34299 non-null  int64
 2   Other             34299 non-null  uint8
 3   T10               34299 non-null  uint8
 4   T19               34299 non-null  uint8
 5   T3                34299 non-null  uint8
 6   T4                34299 non-null  uint8
 7   T5                34299 non-null  uint8
 8   T6                34299 non-null  uint8
 9   T7                34299 non-null  uint8
 10  T8                34299 non-null  uint8
 11  C1000             34299 non-null  uint8
 12  C1200             34299 non-null  uint8
 13  C2000             34299 non-null  uint8
 14  C2100             34299 non-null  uint8
 15  C3000             34299 non-null  uint8
 16  Other             34299 non-null  uint8
 17  CompanySponsored  34299 non-null  uint8
 18  Family/Parent     34299 non-null  uint8
 19  Independent       34299 non-null  uint8
 20  National          34299 non-null  uint8
 21  Other             34299 non-null  uint8
 22  Regional          34299 non-null  uint8
 23  CommunityServ     34299 non-null  uint8
 24  Heathcare         34299 non-null  uint8
 25  Other             34299 non-null  uint8
 26  Preservation      34299 non-null  uint8
 27  ProductDev        34299 non-null  uint8
 28  Association       34299 non-null  uint8
 29  Co-operative      34299 non-null  uint8
 30  Corporation       34299 non-null  uint8
 31  Trust             34299 non-null  uint8
 32  0                 34299 non-null  uint8
 33  1-9999            34299 non-null  uint8
 34  10000-24999       34299 non-null  uint8
 35  100000-499999     34299 non-null  uint8
 36  10M-50M           34299 non-null  uint8
 37  1M-5M             34299 non-null  uint8
 38  25000-99999       34299 non-null  uint8
 39  50M+              34299 non-null  uint8
 40  5M-10M            34299 non-null  uint8
dtypes: int64(2), uint8(39)
memory usage: 1.8 MB

In [163]:
# Split our preprocessed data into our features and target arrays
y = concatenated_df['IS_SUCCESSFUL']
X = concatenated_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [137]:
X_train.shape

(25724, 44)

In [135]:
X_test.shape

(8575, 44)

In [164]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [165]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=40))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="tanh"))

# third hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 6)                 246

 dense_15 (Dense)            (None, 20)                140

 dense_16 (Dense)            (None, 10)                210

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 607 (2.37 KB)
Trainable params: 607 (2.37 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [167]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [169]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7327
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7327
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5488 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7328
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7339
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7328
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7334
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7330
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7335
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7340
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7329
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7330
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7337
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7336
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7330
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7334
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7335
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7343
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7337
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7339
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7343
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7346
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7345
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7345
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7342
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7341
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7346
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7355
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7350
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7345
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7350
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7345
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7342
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7338
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7342
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7346
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7356
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7365
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7342
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7347
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7350
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7351
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7342
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7349
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7352
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7350
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7352
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7362
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7360
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7356
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7351
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7355
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7352

In [178]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5528 - accuracy: 0.7299 - 523ms/epoch - 2ms/step
Loss: 0.5527847409248352, Accuracy: 0.729912519454956

In [179]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(